<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 <hibernate-configuration> <session-factory> <!-- Database connection settings --> 
 <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property> 
 <property name="connection.url">jdbc:mysql://LocalizacionBBDD:Puerto/NombreBBDD</property> 
 <property name="connection.username">AgregarUsuario</property> 
 <property name="connection.password">Agregarpassword</property>
 <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 <property name="show_sql">true</property>
 <property name="hibernate.default_schema">academia</property>
 <mapping class="AgregarDireccionClasemapeado"/> 
  </session-factory>
   </hibernate-configuration>
